<html>
    <head>
        <link rel="stylesheet" href="../static/css/styling.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
    <body>
        <center>
            <div class = "pageWrapper">
                <div class = "columns">
                    <div class = "column is-6">
                        <a href = "/" class = "navBarLinks">Home</a>
                    </div>
                    <div class = "column is-6">
                        <a href = "/sendEmail" class = "navBarLinks">Send Email!</a>
                    </div>
                </div>
                <hr/>
                <h1 class = "title">
                    SEND EMAIL
                </h1>
                <img class = "imgSize" src = "https://media.tenor.com/images/1bcfaadb7ed926566b25b16f256a5d1f/tenor.gif"/>  
                <br/>
                <center><strong><h1>EMAIL SENT!!</h1></strong></center>                         
            </div>            
        </center>
    </body>
</html>